name: Build & Publish Docker image

on:
  push:
    branches: [ main ]
  workflow_dispatch:

permissions:
  contents: read
  packages: write

jobs:
  build-and-push:
    name: Build and push to GHCR
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository (including submodules)
        uses: actions/checkout@v4
        with:
          submodules: 'recursive'
          fetch-depth: 0

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push image
        uses: docker/build-push-action@v4
        with:
          context: .
          file: Dockerfile
          push: true
          tags: |
            ghcr.io/tinkeringkiwi/home-page:latest
            ghcr.io/tinkeringkiwi/home-page:${{ github.sha }}

  deploy:
    name: Deploy (kubectl restart)
    needs: build-and-push
    runs-on: ubuntu-latest
    steps:
      - name: Install kubectl
        uses: azure/setup-kubectl@v3
        with:
          version: 'v1.32.7'

      - name: Set up Kubeconfig
        # Heck 
        env:
          KUBE_CONFIG: ${{ secrets.KUBE_CONFIG }}
        run: |
          echo $KUBE_CONFIG > ./kubeconfig
          head -n 1 ./kubeconfig
          

      - name: Restart deployment
        run: |
          kubectl --kubeconfig ./kubeconfig rollout restart deployment/home-page -n portfolio

